html, body {
  background-color: #e6ecf0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

/* Nav */
.navbar {
  z-index: 1;
}

.navbar a {
  font-weight: bold;
  color: grey;
}

.navbar-header {
  margin: 0 auto;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}



/*Home page*/


.home-hero {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  text-align: center;
  background-position: center center;
  background-size: cover;
}



.home-hero-content {
  background-color: #fff;
}



.cell-one {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
  background-color: #fff;
}


h1 {
  font-size: 27px;
  line-height: 32px;
  font-weight: bold;
}

.signupBlock {
  max-width: 350px;
  text-align: center;
   color: #14171a;
}

.signupTitle {
  margin-top: 48px;
  font-weight: bold;
}


.cell-two {
  background-color: #1da1f2;
  position: relative;
  align-items: center;
  display: flex;  
  justify-content: center;
  overflow: hidden;

}

.communication-item {
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 48px auto;
  position: relative;
}

.communication-item > span > i {
  font-size: 35px;
  margin-right: 16px;
}

.buttons, li{
  display: block;
  margin-bottom: 16px;
  list-style: none;
  
}

li > a {
  border-radius: 20px;
  width: 200px;
}

/* Login / Log out */

.form-group > input {
  background-color: #fff8c5;
  border: none;
  margin: 18px;
  padding: 60px;
}

.form-group-two > input {
    background-color: #fff8c5;
  border: none;
  margin: 18px;
}

.form-group {
  background-color: #fff;
  padding: 60px;
  margin-top: 18px;

}

.logging-btn {
  border-radius: 34px;
}

/* Messages */

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;
  }

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white
}

